{% extends 'base.html.twig' %}

{% block title %}Lista de Livros{% endblock %}

{% block body %}
    <h1>Busca de Livros</h1>

    <a href="{{ path('gerenciar_livro') }}" class="btn btn-secondary mt-3">Voltar</a>

        <div>
            {{ form_start(form) }}
            {{ form_row(form.titulo) }}
            {{ form_row(form.buscar) }}
            {{ form_end(form) }}
        </div>
    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
    {% if livros is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
            </tr>
            </thead>
            <tbody>
            {% for livro in livros %}
                <tr>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}