{% extends 'base.html.twig' %}

{% block title %}Lista de Livros{% endblock %}

{% block body %}
    <h1>Busca de Livros</h1>
        <div>
            {{ form_start(form) }}
            {{ form_row(form.titulo) }}
            {{ form_row(form.buscar) }}
            {{ form_end(form) }}
        </div>
    {% if form.vars.submitted and livros is empty %}
        <p>Não existem livros que correspondam à sua busca.</p>
    {% elseif not form.vars.submitted %}
        <p>Faça uma busca para exibir os livros.</p>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
            </tr>
            </thead>
            <tbody>
            {% for livro in livros %}
                <tr>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}